:root {
    --primary-text-color: #000;
    --primary-bg-color: white;
    --primary-font-family: 'Fira Sans', sans-serif;
    --primary-font-size: 0.875rem;}

footer {
    --footer-text-color: #000;
    --primary-bg-color:white;
    }
a {
    text-decoration: none;
}