:root {
    --primary-text-color: #000;
    --primary-bg-color: #f1f1f1;
    --primary-font-family: 'Fira Sans', sans-serif;
    --primary-font-size: 0.875rem;}

footer {
    --footer-text-color: #000;
    --primary-bg-color:#F1F1F1;
    }
a {
    text-decoration: none;
}