@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

         /*Вирішення задачі 3
  Outer: 25,6=16*X*Y
  X*Y=1.6
  Inner: 40,96=16*X*Y*Y
  X*Y*Y=1.6*1.6
  Y=1.6
  X=1*/
    
           /*Задача 4*/
     /* 25.6px / 16px = 1.6em */
        strong {
            font-size: 1.6em;
          
        }
        ul {
            list-style-type: square;
        }
